
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="container" style="padding: 20px">
    <h2 style="padding: 0px 250px">Sign up</h2>
    <div class="form-inputs" style="height: 400px; padding: 50px 250px">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
      </div>
      <%= render "devise/shared/links" %>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

<% end %>

