<div class="top_container">
</div>
<div class="container">
<h1 class="title-offers">All the available offers</h1>
  <div class="grid-container">
    <%@flats.each do |flat|%>
      <%=link_to flat_path(flat), class: "card-link" do %>
        <div class="card-trip">
          <% if flat.photo.attached? %>
            <%= cl_image_tag flat.photo.key, width: 150, height: 150, gravity: :face %>
          <% else %>
            <%= image_tag "https://imagizer.imageshack.com/img922/2089/6PYv26.png", opacity: 0.9, crop: :thumb %>
          <% end %>
          <div class="card-content">
            <div class="card-trip-infos">
              <div>
                <h2><%= flat.title %></h2>
                <div class="city-info">
                  <i class="fas fa-city"></i>   <p><%=flat.city%></p>
                </div>
              </div>
              <h2 class="card-trip-pricing"><%= flat.price %> €</h2>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
