<!-- # simple form  -->

<div class="container">
  <h2 class="title-offers">Post a flat:</h2>
  <div class="form-inputs">
    <%= simple_form_for(@flat) do |f| %>
    <%= f.input :title %>
    <%= f.input :city %>
    <%= f.input :description %>
    <%= f.input :price %>
    <div class="checkboxes">
      <%= f.input :groceries %>
      <%= f.input :cooking %>
      <%= f.input :sexy_time %>
      <%= f.input :cleaning %>
      <%= f.input :change_diapers %>
      <%= f.input :laundry %>
      <%= f.input :gardening %>
    </div>
    <%= f.input :photo, as: :file %>
    <div class="button-centered"><%= f.submit class: 'btn button-offer' %></div>
    <% end %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

