
<div class="container">
<div class="card-show">
 <img src="<%= cl_image_path @flat.photo.key%>">
  <div class="card-show-infos">
    <div>
      <h2 id="title"><%= @flat.title %></h2>
      <br>
      <p><%= @flat.description %></p>
      <br>
      <p><%= @flat.city %></p>
    </div>
    <h2 class="card-show-user"><%= @flat.user.email %></h2>
    <h2 class="card-show-pricing"><%= @flat.price %> € </h2>
  </div>
  <div class="services-info">
    <%if @flat.groceries == true %><p><i class="fas fa-shopping-cart"> Groceries</i></p><%end%>
    <%if @flat.laundry == true%><p><i class="fas fa-tshirt"> Laundry</i></p><%end%>
    <%if @flat.sexy_time == true %><p><i class="fas fa-kiss-wink-heart"> Sexy time</i></p><%end%>
    <%if @flat.cooking == true %><p><i class="fas fa-utensils"> Cooking</i></p><%end%>
    <%if @flat.gardening == true %><p><i class="fas fa-seedling"> Gardening</i></p><%end%>
    <%if @flat.cleaning == true %><p><i class="fas fa-hand-sparkles"> Cleaning</i></p><%end%>
    <%if @flat.change_diapers == true%><p><i class="fas fa-baby"> Change diapers</i></p><%end%>
  </div>
</div>
</div>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
     <br>
<div class="button-offer-container">
<%= link_to "Back", flats_path, class: "btn button-offer"%>
</div>
