<%= link_to "Back", flats_path%>
<div class="container">
<div class="card-show">
 <img src="<%= cl_image_path @flat.photo.key%>">
  <div class="card-show-infos">
    <div>
      <h2 id="title"><%= @flat.title %></h2>
      <p><%= @flat.description %></p>
      <p><%= @flat.city %></p>
    </div>
    <h2 class="card-show-user"><%= @flat.user.email %></h2>
    <h2 class="card-show-pricing"><%= @flat.price %> € </h2>

  </div>
</div>
</div>


