<main role="main">
  <section class="jumbotron text-center" style="background-image: url('<%= cloudinary_url("https://res.cloudinary.com/dn6woeyoi/image/upload/v1592406449/niklas_grandma_lut1ky.png", gravity: :center, :resource_type => :raw) %>');object-fit:cover;">
    <!--<div class="container">-->
      <div class="content">
        <h1>Rethinking urban living</h1>
        <p class="lead text">Rent rooms at a good price and help elderly people</p>
        <br>
        <p>
          <form novalidate="novalidate" class="simple_form search" action="/flats?city=Marbella" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <div class="search-form-control form-group">
              <%= form_tag flats_path, method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Enter your city"
                %>
              <% end %>
            </div>
          </form>
        </p>
      </div>
  </section>
  <div class="container">
    <h2 class="title-new-listings">Recent listings</h2>
    <div class="grid-container">
      <%@flats.each do |flat|%>
        <%= link_to flat_path(flat), class: "card-link" do %>
          <div class="card-trip">
            <% if flat.photos.attached? %>
              <%= cl_image_tag flat.photos.first.key, width: 150, height: 150, gravity: :face %>
            <% else %>
              <%= image_tag "https://imagizer.imageshack.com/img922/2089/6PYv26.png", opacity: 0.9, crop: :thumb %>
            <% end %>
            <div class="card-content">
              <div class="card-trip-infos">
                <div>
                  <h2><%= flat.title %></h2>
                  <div class="city-info">
                    <i class="fas fa-city"></i>   <p><%=flat.city%></p>
                  </div>
                </div>
                <h2 class="card-trip-pricing"><%= flat.price %> €</h2>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>
    </div>
  </div>
</main>
