<main role="main">

  <section class="jumbotron text-center" style="background-image: url('<%= cloudinary_url("https://res.cloudinary.com/dn6woeyoi/image/upload/v1592406449/niklas_grandma_lut1ky.png", gravity: :center, :resource_type => :raw) %>');object-fit:cover;">
    <!--<div class="container">-->
      <h1>Rethinking urban living</h1>
      <p class="lead text">Rent rooms at a good price and help elderly people</p>
      <p>
        <form novalidate="novalidate" class="simple_form search" action="/flats?city=Marbella" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        </form>
      </p>
  </section>
  <div class="container">
    <h2 class="title-new-listings">Recent listings</h2>
    <div class="grid-container">
      <%@flats.each do |flat|%>
        <div class="card-trip">
          <% if flat.photo.attached? %>
          <%= cl_image_tag flat.photo.key, width: 150, height: 150, gravity: :face %>
        <% else %>
          <%= image_tag "https://imagizer.imageshack.com/img922/2089/6PYv26.png", opacity: 0.9, crop: :thumb %>
        <% end %>
          <div class="card-content">
            <div class="card-trip-infos">
              <div>
                <h2><%= flat.title %></h2>
              </div>
              <h2 class="card-trip-pricing"><%= flat.price %> €</h2>
            </div>
            <div class="button-offer-container">
              <%=link_to "Check offer", flat_path(flat), class: "btn button-offer" %>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</main>
