
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container" style="padding: 20px">
    <h2 style="padding: 0px 250px">Log in</h2>
    <div class="form-inputs" style="height: 400px; padding: 50px 250px">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary"%>
      </div>
      <%= render "devise/shared/links" %>
    </div>

  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
<% end %>

