<div class="top_container">
</div>
<div class="container">

 <h2>Here is your booking history:</h2>


  <%@bookings.each do |booking|%>
    <div class="card-product my-3 rounded">
      <% if booking.flat.photos.attached? %>
        <%= cl_image_tag booking.flat.photos.first.key, width: 150, height: 150, gravity: :face %>
      <% else %>
        <%= image_tag "https://imagizer.imageshack.com/img922/2089/6PYv26.png", opacity: 0.9, crop: :thumb %>
      <% end %>
      <div class="card-product-infos">
        <h4 class="h4-booking"><%=  booking.flat.title %></h4>
        <p><strong>Start date:</strong> <%= booking.start_date %></p>
        <p><strong>End date:</strong> <%= booking.end_date %></p>
        <p><strong>Status:</strong> <%= booking.status %></p>

       <div class="price-reservation">
          <p>Price of the reservation:  <% if (booking.end_date - booking.start_date) == 0%></p>
            <%= booking.flat.price%> €
          <%else%>
            <%= (booking.flat.price * (booking.end_date - booking.start_date) + booking.flat.price).to_i%> €
          <%end%>

        <%=mail_to booking.user.email, "Email the host", class: "email-to"%>

        <div class="review">
          <% if booking.review %>
        "<%= booking.review.content %>
        <% booking.review.rating.times do  %>
        ⭐️
        <% end %>"
        <% end %>

        </div>

      </div>
      <div class="contact-price-booking">
        <%= link_to "See flat info", flat_path(booking.flat), class: "button-more-info" %>
        <%=mail_to booking.user.email, " Email the host", class: "email-to mt-3 button-offer"%>
      </div>
    </div>
    <h4> Add a review</h4>
<!-- XXXX will generate the path, the route where you're sending the information of the form -->
<!-- the information is the params of the user -->
<!-- the info is always sent to the create action -->
      <%= simple_form_for([booking, @review]) do |f| %>
<!-- [parent_element_instance, child_element_instance] -->
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit %>
      <% end %>
  <% end %>



<hr>

<h2>List of your flats:</h2>

<div class="grid-container">
    <%@flats.each do |flat|%>
      <%=link_to flat_path(flat), class: "card-link" do %>
        <div class="card-trip">
          <% if flat.photos.attached? %>
            <%= cl_image_tag flat.photos.first.key, width: 150, height: 150, gravity: :face %>
          <% else %>
            <%= image_tag "https://imagizer.imageshack.com/img922/2089/6PYv26.png", opacity: 0.9, crop: :thumb %>
          <% end %>
          <div class="card-content">
            <div class="card-trip-infos">
              <div>
                <h2><%= flat.title %></h2>
                <div class="city-info">
                  <i class="fas fa-city"></i>   <p><%=flat.city%></p>
                </div>
              </div>
              <h2 class="card-trip-pricing"><%= flat.price %> €</h2>
            </div>
          </div>
        </div>
      <%end%>
      <% flat.bookings.each do |booking| %>
      <ul>
        <li><%= booking.user.email%></li>
        <li><%= booking.start_date %></li>
        <li><%= booking.end_date %> </li>
        <li><%= booking.status %></li>
        <%= link_to 'Accept', "/flats/#{booking.flat.id}/bookings/#{booking.id}?status=accepted&fruit=banana", method: :patch, remote: true, class: "btn-sm btn-succes" %>
        <%= link_to 'Reject', "/flats/#{booking.flat.id}/bookings/#{booking.id}?status=rejected", method: :patch, remote: true, class: "btn-sm btn-danger" %>
      </ul>
      <% end %>
    <%end%>
  </div>
</div>
