<div class="top_container">
</div>
<div class="container">

 <h2>Here is your booking history:</h2>


  <%@bookings.each do |booking|%>
  <div class="card-product">
    <% if booking.flat.photo.attached? %>
      <%= cl_image_tag booking.flat.photo.key, width: 150, height: 150, gravity: :face %>
    <% else %>
      <%= image_tag "https://imagizer.imageshack.com/img922/2089/6PYv26.png", opacity: 0.9, crop: :thumb %>
    <% end %>
  <div class="card-product-infos">
    <h4><%=  booking.flat.title %></h4>
    <p>Start date: <%= booking.start_date %></p>
    <p>End date:  <%= booking.end_date %></p>
    <%=mail_to booking.user.email, "Email the host", class: "email-to"%>
      <div class="price-booking">
      <p>Price of the reservation: <% if (booking.end_date - booking.start_date) == 0%></p>
      <%=booking.flat.price%> €
      <%else%>
      <%=(booking.flat.price * (booking.end_date - booking.start_date) + booking.flat.price).to_i%> €
      <%end%>
    </div>
  </div>
</div>
<% end %>


<hr>

<h2>List of your flats:</h2>

<div class="grid-container">
    <%@flats.each do |flat|%>
      <%=link_to flat_path(flat), class: "card-link" do %>
        <div class="card-trip">
          <% if flat.photo.attached? %>
            <%= cl_image_tag flat.photo.key, width: 150, height: 150, gravity: :face %>
          <% else %>
            <%= image_tag "https://imagizer.imageshack.com/img922/2089/6PYv26.png", opacity: 0.9, crop: :thumb %>
          <% end %>
          <div class="card-content">
            <div class="card-trip-infos">
              <div>
                <h2><%= flat.title %></h2>
                <div class="city-info">
                  <i class="fas fa-city"></i>   <p><%=flat.city%></p>
                </div>
              </div>
              <h2 class="card-trip-pricing"><%= flat.price %> €</h2>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>



</div>
